@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header1{
    display: flex;
    width: 100%;
    padding-bottom: 5px;
    justify-content: center;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: wrap;
    padding: .8rem;
    background-color: #202122;
    min-height: 30px;
    width: 100%;
}
nav{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Lato', sans-serif;
}
.nav-links{
    text-decoration: none;
    color: white
}
.nav-links:hover{
    color: rgba(255, 255, 255, 0.568);
    transition: .4s;
    text-decoration: underline;
}
.Colunm-2 {
    display: flex;
    align-items: center;
}
.linha {
   width: 30%;
   margin-left: auto;
   margin-right: auto;
   background-color: #006fbf;
   height: 5px;
   
}

.tituloTexto {
    text-align: center;

}
.mais{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: right;
    background-color: #006fbf;
    border: none;
    color: white;
    font-size: 15px;
    margin-right: 35px;
}
.participantes {
    display: flex;
}
.texto-noticias { /* alinhar o texto no centro*/
    text-align: center;
}

#card-membros {
    display: flex;
    justify-content: space-around;
    background-color: #243746;
}
.card {
    display: flex;
}
.card-body {
    text-align: center;
}
.container-sobre {
    padding: 2em;
    background-color: #243746;
    color: white;
    font-family: 'Lato';
    font-size: 25px;
    height: 500px;
}
.container-legislacao {
    padding: 2em;
    font-family: 'Lato';
    font-size: 25px;
    height: 500px;
}
.paragrafo {
    margin-top: 100px;
}


/*footer*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
  }
  a {
    transition: .3s;
  }
  
  .footer {
    position: relative;
    padding-top: 45px;
    background: #243746;
  }
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
  }
  a {
    transition: .3s;
  }
  a:hover,
  a:active,
  a:focus {
    outline: none;
    text-decoration: none;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 45px;
    background: #243746;
  }


  .footer .footer-insta a img {
    width: 100%;
  }
 
  

  .footer .footer-contact {
    position: relative;
    padding: 25px 0;
    text-align: center;
    
  }
  .footer .footer-contact h4 {
    position: relative;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
  }
  #Img{ 
    margin-left: 70px;
 }
  
  .footer .footer-contact a {
    display: inline-block;
  }
  .footer .footer-contact a i {
    margin-right: 10px;
    font-size: 18px;
    color: #ffffff;
  }
 
  .footer .footer-contact a:hover i {
    color: #1b84d4;
  }
  @media (max-width: 767.98px) {
    .footer-contact #Img {
      margin-bottom: 25px;
    }
    .footer .footer-contact  #Img{
      margin: 0;
    }
  }