@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}
.header1{
    display: flex;
    width: 100%;
    padding-bottom: 5px;
    justify-content: center;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: wrap;
    padding: .8rem;
    background-color: #202122;
    min-height: 30px;
    width: 100%;
}
nav{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Lato', sans-serif;
}
.nav-links{
    text-decoration: none;
    color: white
}
.nav-links:hover{
    color: rgba(255, 255, 255, 0.568);
    transition: .4s;
    text-decoration: underline;
}

.news{
  justify-content: center;
}

.noticias-img{
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.noticias-img img{
    width: 40vw;
    height: auto;
}

.texto-img{
  padding-left: 2.5vw;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.texto-noticias h1{
  color: #243746;
  font-size: 4em;
  text-align: left;
  padding-bottom: 2.3vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-noticias{
  display: flex;
  justify-content: end;
  color: rgb(165, 2, 37);
  font-weight: 400;
}

.linha {
   width: 30%;
   margin-left: auto;
   margin-right: auto;
   background-color: #243746;
   height: 1  vh;
   
}

.tituloTexto {
    text-align: center;

}
.mais{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: right;
    background-color: #006fbf;
    border: none;
    color: white;
    font-size: 15px;
    margin-right: 35px;
}
.news {
    display: flex;
}
.container-membros{
    background-color: #243746;
    color: white;
    height: 150vh;
    margin: 0.7em;
    border-radius: 5px;
}
#card-membros {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;

}

.card {
    transition: transform .2s;
    margin: 10px;
}
.card:hover{
    transform: scale(1.15);
    border: solid 2px #006fbf;
}
.card-body {
    text-align: center;
}

.container-sobre {
  margin-left: 0.7em;
  margin-right: 0.7em;
  margin-top: 0.2em;
  padding: 2em;
  background-color: #243746;
  color: white;
  font-size: 1.4em;
  height: 80vh;
  border-radius: 5px;
}

.container-legislacao {
    padding: 2em;
    font-family: 'Lato';
    font-size: 25px;
    height: 80vh;
}

.container-documentos{
    padding: 2em;
    margin-bottom: 5em;
    font-family: 'Lato';
    font-size: 25px;
    height: 00px;
}

.paragrafo {
    margin-top: 5vh;
    display: flex;  
    font-size: 1.4rem;
}